<h1>My pantry</h1>

<form action="/recipe/food" method="post">
    <input type="text" value="ingredient" name="ingredient">
    <button type="submit">Add to Pantry</button>
</form>
<div>
    <div>
        
    </div>
</div>