<h2>Profile Page</h2>

<a href="/">Home</a>
<a href="recipes">MyRecipes</a>

<h2><%= user.name %></h2>

<form action="/recipes" method="post">
    <button type="submit">add to MyRecipes</button>
</form>
