<h1>My Recipes</h1>
<h3>hellllooo</h3>

<% food.forEach(function(recipe) { %>
    <h2><%= recipe.name %></h2>
    <a href="<%= recipe.link %>">recipe</a>
    <p><%= recipe.ingredients %></p>
    
<% }); %>