<br>
<br>
<br>
<div class="container">
    <h2 class="">SEARCH</h2>

    <form class="" action="/recipe" method="get" style="font-size:10px;">
        <b style="font-size:14px;">Recipe Search by Ingredients:</b>
        <input class="form-control" type="text" name="i" id="i" placeholder="Enter ingredients separated by commas" size=31 style="color:gray;font-size:11px;" onfocus="if(this.style.color=='gray'){this.style.color='black';this.value='';}" onblur="if(this.value==''){this.style.color='gray';this.placeholder='Enter ingredients separated by commas';}" />
        <% data.items.forEach(function(fridge) { %>
        <input type="checkbox" value="<%= fridge.ingredients %>" id="p" name="i">
        <label for="p"><%= fridge.ingredients %></label>
        <% }) %>
        <input class="form-control" type="text" name="q" id="q" placeholder="what do you want to make?" size=31 style="color:gray;font-size:11px;" onfocus="if(this.style.color=='gray'){this.style.color='black';this.value='';}" onblur="if(this.value==''){this.style.color='gray';this.placeholder='What do you want to make?';}" />>
        <input class="btn btn-primary pantry-btn" type="submit" value="Find Recipes" style="font-size:11px;" />
        <div class="spinner-border"></div>
        <br/>Powered by <a href="http://www.recipepuppy.com" style="font-size:10px;">Recipe Puppy</a>
    </form>

</div>
